*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-image: url("./assets/scenery.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(0,0,0,0.7));
}

.search-box {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 16px 0 16px 0;
  outline: none;
  background: rgba(0,0,0,0.5);
  padding: 5px;
  color: aqua;
}

.search-bar::placeholder{
  color: white;
  text-align: center;
}

.location {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.date {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

.weather-box {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 30px;
  font-weight: 400;

}

.temperature-box {
  border-radius: 20px;
  padding: 10px;
  font-size: 110px;
  font-weight: bold;
  display: inline-block;
  background-color: rgba(221, 221, 215,0.3);
}
